@using WebAtividadeEntrevista.Enums
@using WebAtividadeEntrevista.Models
@model WebAtividadeEntrevista.Models.ClienteModel

<form id="formCadastro" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Nome)
                @Html.TextBoxFor(m => m.Nome, new { placeholder = "Ex.: João", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Sobrenome)
                @Html.TextBoxFor(m => m.Sobrenome, new { placeholder = "Ex.: da Silva", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.CPF)
                @Html.TextBoxFor(m => m.CPF, new { placeholder = "Ex.: 999.999.999-99", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Nacionalidade)
                @Html.TextBoxFor(m => m.Nacionalidade, new { placeholder = "Ex.: brasileira", @class = "form-control" })
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.CEP)
                @Html.TextBoxFor(m => m.CEP, new { placeholder = "Ex.: 01011-100", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Estado)
                @Html.DropDownListFor(m => m.Estado,
                    new SelectList(Enum.GetValues(typeof(Estados))),
                    new { placeholder = "Ex.: 01011-100", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Cidade)
                @Html.TextBoxFor(m => m.Cidade, new { placeholder = "Ex.: São Paulo", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Logradouro)
                @Html.TextBoxFor(m => m.Logradouro, new { placeholder = "Ex.: Rua Boa Vista 253", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Ex.: email@email.com", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Telefone)
                @Html.TextBoxFor(m => m.Telefone, new { placeholder = "Ex.: (11) 92020-3030", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <button type="button" class="btn btn-sm btn-light" data-toggle="modal" data-target="#modalBeneficiarios">Beneficiários</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                @Html.ActionLink("Voltar", "Index", "Cliente", new { }, new { @class = "btn btn-sm btn-danger" })
            </div>
        </div>
    </div>

    @Html.Partial("../Beneficiario/Modal", new BeneficiarioModalModel { Beneficiarios = Model?.Beneficiarios ?? new List<BeneficiarioModel>() })
</form>
